<carousel *ngIf="testimonials | async">
  <slide *ngFor="let testimonial of (testimonials | async)">
    <div class="col-md-2 testimonial-quote-icon">
      <img src="assets/images/quote-image.png" alt="quote-image">
    </div>
    <div class="col-md-10 testimonial-quote">
      <h3>{{testimonial.Quote}}</h3>
      <div class="testimonial-image">
        <div *ngIf="testimonial.Photo[0]" class="col-md-2">
          <img [src]="testimonial.Photo[0].Url" [alt]="testimonial.Photo[0].AlternativeText">
        </div>
        <div>
          <strong>{{testimonial.TestimonialAuthor}}</strong>
          <br>
          <span>{{testimonial.JobTitle}},</span>
          <span>{{testimonial.Company}}</span>
        </div>
      </div>
    </div>
  </slide>
</carousel>
<div class="center-text form-group">
  <button class="btn btn-primary btn-quantum-homepage" (click)="openTestimonialForm()" type="button">Submit a testimonial</button>
</div>


