<carousel *ngIf="testimonials | async">
  <slide *ngFor="let testimonial of (testimonials | async)">
    <div class="col-md-2 testimonial-quote-icon">
      <img src="assets/images/quote-image.png" alt="quote-image">
    </div>
    <div class="col-md-10 testimonial-quote">
      <h3>{{testimonial.Quote}}</h3>
      <div class="testimonial-image">
        <div *ngIf="testimonial.Photo" class="col-md-2">
          <img [src]="testimonial.Photo.Url" [alt]="testimonial.Photo.AlternativeText">
        </div>
        <div>
          <strong>{{testimonial.TestimonialAuthor}}</strong>
          <br>
          <span>{{testimonial.JobTitle}},</span>
          <span>{{testimonial.Company}}</span>
        </div>
      </div>
    </div>
  </slide>
</carousel>
<div class="center-text">
  <button class="btn btn-primary btn-quantum-homepage" (click)="showTestimonialForm=!showTestimonialForm" type="button">Submit a testimonial</button>
</div>
<form *ngIf="showTestimonialForm" #f="ngForm" (ngSubmit)="submitTestimonial(f)">
  <div class="form-group">
    <label for="Author">Author:</label>
    <input
      [(ngModel)]="model.TestimonialAuthor"
      class="form-control"
      required
      id="Author"
      type="text"
      name="Author">
  </div>
  <div class="form-group">
    <label for="JobTitle">Job Title:</label>
    <input
      class="form-control"
      [(ngModel)]="model.JobTitle"
      id="JobTitle"
      name="JobTitle"
      type="text">
  </div>
  <div class="form-group">
    <label for="Company">Company:</label>
    <input
      [(ngModel)]="model.Company"
      class="form-control"
      id="Company"
      name="Company"
      type="text">
  </div>
  <div class="form-group">
    <label for="Company">Photo:</label>
    <input
      (change)="model.Photo = $event.target.files[0]"
      id="Photo"
      name="Photo"
      type="file">
  </div>
  <div class="form-group">
    <label for="Quote">Quote:</label>
    <textarea
      [(ngModel)]="model.Quote"
      class="form-control"
      required
      id="Quote"
      name="Quote"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-quantum-homepage">Submit</button>
</form>

