<div class="container-small container mt-6">
  <form #f="ngForm" (ngSubmit)="submitTestimonial(f)">
    <div class="form-group">
      <label for="Author">Author:</label>
      <input
        [(ngModel)]="model.TestimonialAuthor"
        class="form-control"
        required
        id="Author"
        type="text"
        name="Author">
    </div>
    <div class="form-group">
      <label for="JobTitle">Job Title:</label>
      <input
        class="form-control"
        [(ngModel)]="model.JobTitle"
        id="JobTitle"
        name="JobTitle"
        type="text">
    </div>
    <div class="form-group">
      <label for="Company">Company:</label>
      <input
        [(ngModel)]="model.Company"
        class="form-control"
        id="Company"
        name="Company"
        type="text">
    </div>
    <div class="form-group">
      <label for="Company">Photo:</label>
      <input
        required
        (change)="onImageChange($event)"
        id="Photo"
        name="Photo"
        type="file">
    </div>
    <div class="form-group">
      <label for="Quote">Quote:</label>
      <textarea
        [(ngModel)]="model.Quote"
        class="form-control"
        required
        id="Quote"
        name="Quote"></textarea>
    </div>
    <button [disabled]="f.invalid || !isPhotoSelected" type="submit" class="btn btn-primary btn-quantum-homepage">Submit</button>
    <div *ngIf="creatingTestimonial" class="sf-loading mt-1"><span></span></div>
  </form>
  <div class="alert alert-info mt-3" *ngIf="createdTestimonialMessage">
    {{createdTestimonialMessage}}
  </div>
</div>

